@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Oxygen&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif ;
}

body {
    margin: 0 20%;
}

h4{
    font-size: 1rem;
    color: rgba(56,56,56);
}
h3{
    font-size: 1.5rem;
    color: rgba(56,56,56);
    line-height: 2.5rem;
    margin: 2rem 0;

}

a{
    color: rgba(56,56,56);
}